.btn-small {
  color: white;
  padding: 10px 15px;
  border-radius: 4px;
  font-weight: bold;
  background: rgba(120, 120, 120, 0.5);
  transition: background 0.3s ease;
  margin-top: 10px;
  margin-right: 20px;
}

.btn-small:hover {
  opacity: 1;
  background: rgba(120, 120, 120, 0.2);
  text-decoration: none;
  color: white;
}

.btn-banner {
  color: white;
  padding: 10px 15px;
  border-radius: 4px;
  font-weight: bold;
  background: rgba(120, 120, 120, 0.5);
  transition: background 0.3s ease;
  margin-top: 10px;
  margin-right: 20px;
}

.btn-banner:hover {
  opacity: 1;
  background: rgba(120, 120, 120, 0.2);
  text-decoration: none;
  color: white;
}

.btn-orange {
  color: #F17305;
  padding: 10px 15px;
  border-radius: 4px;
  font-weight: bold;
  background: white;
  transition: background 0.3s ease;
  margin-top: 10px;
  margin-right: 20px;
}
